html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
  width: 90vw;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.container-index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}

.logo {
    border:3px solid black;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 auto;
   
}

.logo-a {
    color: rgb(53, 152, 4);
}

.logo-n {
    color: rgb(214, 130, 47);
}



.progress-bar {
    height: 30px;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
  }

.progress-container {
  width: 20%;
  height: 30px;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  animation: hideContainer 5.0s ease-out forwards;
}

@keyframes hideContainer {
  0% {
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
  
.progress-bar {
  height: 100%;
  width: 0;
  background-color: rgb(91, 206, 34);
    
  border-radius: 15px;
  animation: progress 5s ease-out forwards;
}
  
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.button {
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #4caf50;
  margin: 20px auto;
  border-radius: 15px;
  border: 3px solid black;
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: #ef7d26;
  border: 3px dotted black;
}

.link {
  color: black;
  text-decoration: none;
  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
 
}

.card {
  box-shadow: 0 0 4px darkgray;
  border-radius: 5px;
 }

 .card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.3s ease;
 }

 

.card__image {
  max-width: 100%;
  display: block;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fba564;
}

header {
  text-align: center;
  margin: 20px;;
}

footer {
  text-align: center;
}

.main {
  display: flex;
  flex:1 1 auto;
}

.container-cart {
  align-self: flex-start;
  padding: 10px;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
 
  
}

.cart__button {
  margin-top: 50px;
  width: 75%;


}

.cart {
  display: flex;
  justify-content: space-between;
}

.cart-price {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-price-text {
  margin-top: 10px;
  
}

.final-price {
  margin-top: 10px;
  font-weight: 700;
}

.pay-subtitle {
  margin-top: 30px;
}

.customer-label {
  margin: 10px 0;
 
  
  
}

.return-label {
  text-align: center;
  font-weight: 700;

}

.customer-input {
  padding: 5px;
  font-size: 15px;
  width: 100%;
 
}
